INPUT:
  IMAGE_SIZE: [256, 526]
  PIXEL_MEAN: [0, 0, 0]
  PIXEL_SCALE: [255, 255, 255]
MODEL:
  BACKBONE2D:
    ARCHITECTURE: yolov8m
    FREEZE: False
    PRETRAINED_WEIGHTS: https://github.com/ultralytics/assets/releases/download/v8.2.0/yolov8m.pt
  DEVICE: cuda
  HEAD:
    ARCHITECTURE: yolov8
    FREEZE: False
    NUM_CLASSES: 80
    PRETRAINED_WEIGHTS: https://github.com/ultralytics/assets/releases/download/v8.2.0/yolov8m.pt
OUTPUT_DIR: outputs/test
